<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}ARFISGED - Tableau de bord{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="description" content="Plateformes de gestions des archivages physiques et numériques">
    <meta name="author" content="Eden'Art, Delrodie AMOIKON">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,700">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('ressources/css/vendor.min.css')}}">
    <link rel="stylesheet" href="{{ asset('ressources/css/elephant.min.css')}}">
    <link rel="stylesheet" href="{{ asset('ressources/css/application.min.css')}}">
    {% endblock %}
    <link rel="icon" href="{{ asset('ressources/img/favicon.png')}}">
  </head>
  <body class="layout layout-header-fixed">
    <div class="layout-header">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand navbar-brand-center" href="http://arfis.com">
            <img class="navbar-brand-logo" src="{{ asset('ressources/img/logo-blanc.png')}}" alt="ARFISGED">
          </a>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#sidenav">
            <span class="sr-only">Toggle navigation</span>
            <span class="bars">
              <span class="bar-line bar-line-1 out"></span>
              <span class="bar-line bar-line-2 out"></span>
              <span class="bar-line bar-line-3 out"></span>
            </span>
            <span class="bars bars-x">
              <span class="bar-line bar-line-4"></span>
              <span class="bar-line bar-line-5"></span>
            </span>
          </button>
          <button class="navbar-toggler visible-xs-block collapsed" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="arrow-up"></span>
            <span class="ellipsis ellipsis-vertical">
              <img class="ellipsis-object" width="32" height="32" src="{{ asset('ressources/img/avatar.png')}}" alt="ARFISGED">
            </span>
          </button>
        </div>
        <div class="navbar-toggleable">
          <nav id="navbar" class="navbar-collapse collapse">
            <button class="sidenav-toggler hidden-xs" title="Collapse sidenav ( [ )" aria-expanded="true" type="button">
              <span class="sr-only">Toggle navigation</span>
              <span class="bars">
                <span class="bar-line bar-line-1 out"></span>
                <span class="bar-line bar-line-2 out"></span>
                <span class="bar-line bar-line-3 out"></span>
                <span class="bar-line bar-line-4 in"></span>
                <span class="bar-line bar-line-5 in"></span>
                <span class="bar-line bar-line-6 in"></span>
              </span>
            </button>
            <ul class="nav navbar-nav navbar-right">
              <li class="visible-xs-block">
                <h4 class="navbar-text text-center">
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  {{ 'layout.user'|trans({'%username%': app.user.username}, 'FOSUserBundle')|title }}
                  {% endif %}
                </h4>
              </li>
              <li class="hidden-xs hidden-sm">
                <form class="navbar-search navbar-search-collapsed">
                  <div class="navbar-search-group">
                    <input class="navbar-search-input" type="text" placeholder="Recherches&hellip;">
                    <button class="navbar-search-toggler" title="Expand search form ( S )" aria-expanded="false" type="submit">
                      <span class="icon icon-search icon-lg"></span>
                    </button>
                    <button class="navbar-search-adv-btn" type="button">OK</button>
                  </div>
                </form>
              </li>
              <!--<li class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true">
                  <span class="icon-with-child hidden-xs">
                    <span class="icon icon-bell-o icon-lg"></span>
                    <span class="badge badge-danger badge-above right">7</span>
                  </span>
                  <span class="visible-xs-block">
                    <span class="icon icon-bell icon-lg icon-fw"></span>
                    <span class="badge badge-danger pull-right">7</span>
                    Notifications
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
                  <div class="dropdown-header">
                    <a class="dropdown-link" href="#">Mark all as read</a>
                    <h5 class="dropdown-heading">Recent Notifications</h5>
                  </div>
                  <a class="list-group-item" href="#">
                    <div class="notification">
                      <div class="notification-media">
                        <span class="icon icon-exclamation-triangle bg-warning rounded sq-40"></span>
                      </div>
                      <div class="notification-content">
                        <small class="notification-timestamp">35 min</small>
                        <h5 class="notification-heading">Update Status</h5>
                        <p class="notification-text">
                          <small class="truncate">Failed to get available update data. To ensure the proper functioning of your application, update now.</small>
                        </p>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-footer">
                    <a class="dropdown-btn" href="#">See All</a>
                  </div>
                </div>
              </li>-->
              <li class="dropdown hidden-xs">
                <button class="navbar-account-btn" data-toggle="dropdown" aria-haspopup="true">
                  <img class="rounded" width="36" height="36" src="{{ asset('ressources/img/avatar.png')}}" alt="Utilisateur">
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  {{ 'layout.user'|trans({'%username%': app.user.username}, 'FOSUserBundle')|title }}
                  {% endif %}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="{{ path('fos_user_change_password')}}">Changer mon mot de passe</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="{{ path('fos_user_security_logout')}}">Deconnexion</a>
                  </li>
                </ul>
              </li>
              <li class="visible-xs-block">
                <a href="{{ path('fos_user_change_password')}}">
                  <span class="icon icon-lock icon-lg icon-fw"></span>
                  Changer mon mot de passe
                </a>
              </li>
              <li class="visible-xs-block">
                <a href="{{ path('fos_user_security_logout')}}">
                  <span class="icon icon-power-off icon-lg icon-fw"></span>
                  Deconnexion
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="layout-main">
      <div class="layout-sidebar">
        <div class="layout-sidebar-backdrop"></div>
        <div class="layout-sidebar-body">
          <div class="custom-scrollbar">
            <nav id="sidenav" class="sidenav-collapse collapse">
              <ul class="sidenav">
                <li class="sidenav-search hidden-md hidden-lg">
                  <form class="sidenav-form" action="{{ path('homepage')}}">
                    <div class="form-group form-group-sm">
                      <div class="input-with-icon">
                        <input class="form-control" type="text" placeholder="Recherche…">
                        <span class="icon icon-search input-icon"></span>
                      </div>
                    </div>
                  </form>
                </li>
                <li class="sidenav-heading">Accueil</li>
                <li class="sidenav-item">
                  <a href="{{ path('homepage')}}">
                    <span class="badge badge-success">26</span>
                    <span class="sidenav-icon icon icon-home"></span>
                    <span class="sidenav-label">Tableau de bord</span>
                  </a>
                </li>
                <li class="sidenav-heading">Archivages</li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-server"></span>
                    <span class="sidenav-label">Support</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Support</li>
                    <li>
                      <a href="{{ path('rayonnage_index')}}">Rayonnage</a>
                    </li>
                    <li>
                      <a href="{{ path('epi_index')}}">Epi</a>
                    </li>
                    <li>
                      <a href="{{ path('conservation_index')}}">Unité de conservation</a>
                    </li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-list"></span>
                    <span class="sidenav-label">Series</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Series</li>
                    <li>
                      <a href="{{ path('serie_index')}}">Serie</a>
                    </li>
                    <li>
                      <a href="{{ path('sousserie_index')}}">Sous-serie</a>
                    </li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-briefcase"></span>
                    <span class="sidenav-label">Côtes</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Côtes</li>
                    <li>
                      <a href="#">Provisoires</a>
                    </li>
                    <li>
                      <a href="#">Definitive</a>
                    </li>
                  </ul>
                </li>
                <li class="sidenav-item">
                  <a href="#">
                    <span class="sidenav-icon icon icon-power-off"></span>
                    <span class="sidenav-label">Sort final</span>
                  </a>
                </li>
                <li class="sidenav-heading">GED</li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-folder-o"></span>
                    <span class="sidenav-label">Administration</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Administration</li>
                    <li>
                      <a href="#">Contrats</a>
                    </li>
                    <li>
                      <a href="#">Courriers internes</a>
                    </li>
                    <li>
                      <a href="#">Couries externes</a>
                    </li>
                    <li>
                      <a href="#">Rapports</a>
                    </li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-folder-o"></span>
                    <span class="sidenav-label">Comptabilité</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Comptabilité</li>
                    <li>
                      <a href="#">Factures</a>
                    </li>
                    <li>
                      <a href="#">Factures proforma devi</a>
                    </li>
                    <li>
                      <a href="#">Budgets</a>
                    </li>
                  </ul>
                </li>
                <li class="sidenav-heading">Parametrage</li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-cog"></span>
                    <span class="sidenav-label">Paramètres</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Paramètres</li>
                    <li>
                      <a href="#">Services</a>
                    </li>
                    <li>
                      <a href="#">Rubriques</a>
                    </li>
                  </ul>
                </li>
                <li class="sidenav-item has-subnav">
                  <a href="#" aria-haspopup="true">
                    <span class="sidenav-icon icon icon-lock"></span>
                    <span class="sidenav-label">Sécurité</span>
                  </a>
                  <ul class="sidenav-subnav collapse">
                    <li class="sidenav-subheading">Sécurité</li>
                    <li>
                      <a href="#">Utilisateurs</a>
                    </li>
                    <li>
                      <a href="#">Gestionnaires</a>
                    </li>
                    <li>
                      <a href="#">Droits d'accés</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      {% block body %}{% endblock %}

      <div class="layout-footer">
        <div class="layout-footer-body">
          <small class="version">Version 1.0.0 | Develop By
            <a href="#" title="">Eden'Art</a>
          </small>
          <small class="copyright">2017 &copy; ARFISGED | Tous droits reservés.
          </small>
        </div>
      </div>
    </div>

    {% block javascripts %}
    <script src="{{ asset('ressources/js/vendor.min.js')}}"></script>
    <script src="{{ asset('ressources/js/elephant.min.js')}}"></script>
    <script src="{{ asset('ressources/js/application.min.js')}}"></script>
    {% endblock %}
  </body>

</html>
