{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password',  'data-toggle': "md-validator" } }) }}


    <div class="md-form-group md-label-floating">
      {{ form_widget(form.current_password, {'attr': { 'class': 'md-form-control', 'spellcheck': 'false', 'autocomplete': 'off', 'data-msg-required': 'Veuillez entrer votre mot de passe actuel', 'required': 'required'}}) }}
      <label class="md-control-label">{{ 'form.current_password'|trans }}</label>
    </div>

    <div class="md-form-group md-label-floating">
      {{ form_widget(form.plainPassword.first, {'attr': { 'class': 'md-form-control', 'spellcheck': 'false', 'autocomplete': 'off', 'data-msg-required': 'Veuillez entrer votre nouveau mot de passe', 'required': 'required'}}) }}
      <label class="md-control-label">{{ 'form.new_password'|trans }}</label>
    </div>

    <div class="md-form-group md-label-floating">
      {{ form_widget(form.plainPassword.second, {'attr': { 'class': 'md-form-control', 'spellcheck': 'false', 'autocomplete': 'off', 'data-msg-required': 'Veuillez confirmer le nouveau mot de passe', 'required': 'required'}}) }}
      <label class="md-control-label">{{ 'form.new_password_confirmation'|trans }}</label>
    </div>
      {{ form_widget(form) }}

    <div>
        <input type="submit"  id="_submit" name="_submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-warning btn-block" />
    </div>
{{ form_end(form) }}
