{% extends 'base.html.twig' %}

{% block title %} Unité de conservation {% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('ressources/css/demo.min.css')}}">
{% endblock %}

{% block body %}

  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Gestion des unités de conservation</span>
        </h1>
      </div><br>
      <!-- Enregistrement -->
      <div class="row p-y-lg">
        <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          {{ form_start(edit_form, { 'attr': {'data-toggle': 'md-validator' }}) }}
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(edit_form.libelle) }}
                  {{ form_errors(edit_form.libelle) }}
                  <label class="md-control-label">Unité de conservation</label>
                  <small class="md-help-block">Nom de l'unité de conservation</small>
                </div>
              </div>
            </div><br>
            <div class="row">
              <div class="col-sm-4 col-md-2 col-md-offset-6">
                {{ form_rest(edit_form)}}
                <button type="submit" class="btn btn-primary btn-block">Modifier</button>
              </div>
              <div class="col-sm-4 col-md-2">
                <button type="reset" class="btn btn-default btn-block">Annuler</button>
              </div>
            {{ form_end(edit_form)}}
              <div class="col-sm-4 col-md-2">
                {{ form_start(delete_form) }}
                    <input type="submit" value="Supprimer" class="btn btn-danger btn-block" onclick="return window.confirm('Confirmez-vous la suppression de cette unite de conservation?');">
                {{ form_end(delete_form) }}
              </div>
            </div>
        </div>
      </div>
      <!-- \Enregistrement -->
      <br>
      <!-- Message -->
        {% for flash_message in app.session.flashBag.get('notice') %}
          {% if flash_message %}
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
              <div class="alert alert-success alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <a href="#" class="alert-link">NOTIFICATION :</a> {{ flash_message }}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <!-- \Message -->
        <br>
      <!-- Tableau -->
      <div class="row gutter-xs">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="card-actions">
                <button type="button" class="card-action card-toggler"></button>
                <button type="button" class="card-action card-reload"></button>
                <button type="button" class="card-action card-remove"></button>
              </div>
              <h5 class="m-b-0 text-center">LISTE DES UNITES DE CONSERVATION</h5>
            </div>
            <div class="card-body">
              <div class="card-body">
                <table id="demo-datatables-buttons-2" class="table table-bordered table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center">Nom de l'unité de conservation</th>
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for conservation in conservations %}
                    <tr>
                      <td class="text-right">{{ loop.index }}</td>
                      <td>{{ conservation.libelle }}</td>
                      <td class="text-center">
                        <a href="{{ path('conservation_edit', {'slug': conservation.slug})}}" title="Modifier le conservation {{ conservation.libelle|title }}">
                          <span class="icon icon-edit"></span>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- \Tableau -->
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('ressources/js/demo.min.js')}}"></script>
{% endblock %}
