{% extends 'base.html.twig' %}

{% block title %} Documents {% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('ressources/css/demo.min.css')}}">
{% endblock %}

{% block body %}

  <div class="layout-content">
    <div class="layout-content-body">
      <div class="title-bar">
        <h1 class="title-bar-title">
          <span class="d-ib">Gestion des documents</span>
        </h1>
      </div><br>
      <!-- Enregistrement -->
      <div class="row p-y-lg">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          {{ form_start(form, { 'attr': {'data-toggle': 'md-validator' }}) }}
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.reference) }}
                  {{ form_errors(form.reference) }}
                  <label class="md-control-label">Reference</label>
                  <small class="md-help-block">La référence <span style="color: red">*</span></small>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.service) }}
                  {{ form_errors(form.service) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Service producteur</small>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.rubrique) }}
                  {{ form_errors(form.rubrique) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Emplacement</small>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.libelle) }}
                  {{ form_errors(form.libelle) }}
                  <label class="md-control-label">Titre</label>
                  <small class="md-help-block">Le titre  <span style="color: red">*</span></small>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.dateprod) }}
                  {{ form_errors(form.dateprod) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Date de production  <span style="color: red">*</span></small>
                </div>
              </div>
              <div class="col-sm-6 col-md-4">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.datefin) }}
                  {{ form_errors(form.datefin) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Date fin <span style="color: red">*</span></small>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.resume) }}
                  {{ form_errors(form.resume) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Resumé du document  <span style="color: red">*</span></small>
                </div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.tags) }}
                  {{ form_errors(form.tags) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Mots clés  <span style="color: red"></span></small>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-4 col-md-4">
                  <div class="custom-controls-stacked m-t">
                    <label class="custom-control custom-control-primary custom-checkbox">
                      {{ form_widget(form.transfert)}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-label">Peut-il être transferé ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="custom-controls-stacked m-t">
                    <label class="custom-control custom-control-primary custom-checkbox">
                      {{ form_widget(form.partage)}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-label">Peut-il être partagé ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="custom-controls-stacked m-t">
                    <label class="custom-control custom-control-primary custom-checkbox">
                      {{ form_widget(form.stagiaire)}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-label">Est-il ouvert aux Stagiaires ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="custom-controls-stacked m-t">
                    <label class="custom-control custom-control-primary custom-checkbox">
                      {{ form_widget(form.assistant)}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-label">Est-il ouvert aux Assistants ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="custom-controls-stacked m-t">
                    <label class="custom-control custom-control-primary custom-checkbox">
                      {{ form_widget(form.adjoint)}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-label">Est-il ouvert aux Adjoints ?</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4 col-md-4">
                  <div class="custom-controls-stacked m-t">
                    <label class="custom-control custom-control-primary custom-checkbox">
                      {{ form_widget(form.chef)}}
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-label">Est-il ouvert aux Chefs ?</span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 col-md-4"><br><br>
                <div class="md-form-group md-label-floating">
                  <input type="file" name="" value="">
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Telechargez le document <span style="color: red">*</span></small>
                </div>
              </div>
              <div class="col-sm-4 col-md-4"><br><br>
                <div class="md-form-group md-label-floating">
                  {{ form_widget(form.sortfinal) }}
                  {{ form_errors(form.sortfinal) }}
                  <label class="md-control-label"></label>
                  <small class="md-help-block">Sort final <span style="color: red">*</span></small>
                </div>
              </div>
            </div><br>
            <div class="row">
              <div class="col-sm-4 col-md-3 col-sm-offset-4 col-md-offset-6">
                {{ form_rest(form)}}
                <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
              </div>
              <div class="col-sm-4 col-md-3">
                <button type="reset" class="btn btn-default btn-block">Annuler</button>
              </div>
            </div>
          {{ form_end(form)}}
        </div>
      </div>
      <!-- \Enregistrement -->
      <br>
      <!-- Message -->
        {% for flash_message in app.session.flashBag.get('notice') %}
          {% if flash_message %}
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
              <div class="alert alert-success alert-dismissible fade in">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <a href="#" class="alert-link">NOTIFICATION :</a> {{ flash_message }}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
        <!-- \Message -->
        <br>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('ressources/js/demo.min.js')}}"></script>
{% endblock %}
